// Colors
$black: #202020
$white: #fcf9f8
$gold: #aa7f46
$lightGray: #b0a89b

// Layout
$bodyWidth: 960px
$navbarHeight: 180px
$footerHeight: 80px
$bodyHeight: calc(100vh - 292px)
$mobile: 768px

// Effects
$transition: .3s ease-in-out