<div class="booking-page page-container">
  <div class="content">
    <div class="logo">
      <img src="./assets/logo/gf.svg" alt="GF Logo">
    </div>

    <div class="info" *ngIf="contactInfo">
      <b>
        {{ 'CONTACT.FOR_BOOKING_INQUIRIES' | translate }}:
      </b>
      <p>
        <a href="tel:{{ contactInfo.usaPhone.link }}">
          {{ contactInfo.usaPhone.text }}
        </a>
        <span class="pipe-divider">|</span>
        <a href="mailto:{{ contactInfo.usaEmail }}">
          {{ contactInfo.usaEmail }}
        </a>
      </p>
    </div>
  </div>
</div>
