@import 'variables'

$imageSize: 288px
$colRepeat: 3

.booking-page
  min-height: 35vh
  display: grid

  .signature
    width: max-content
    margin: 0 auto
    padding: 1rem
    align-self: center
    display: grid
    gap: 3rem
    grid-template-columns: 180px auto

    .logo
      align-self: center

    .info
      align-self: center

      b, p, a
        font-size: 1rem
        color: $white

      b, p
        display: block
        margin: 8px 0

      .pipe-divider
        display: inline-block
        margin: 0 .5rem

  @media screen and ( max-width: 1024px )
    .signature
      gap: 1rem
      grid-template-columns: auto

      .logo
        width: 160px
        margin: 0 auto

      .info
        text-align: center

        b, p
          margin: 0 0 1rem


  .section
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: min-content min-content auto
    padding: 1rem 0

    *
      color: $white

    &-title
      font-size: 1.8rem
      text-transform: uppercase
      margin-bottom: 12px

    &-content
      font-size: 1rem
      line-height: 1.7
      text-align: justify

    &-images
      display: grid
      grid-template-columns: repeat(3, $imageSize)
      position: relative
      margin: 1rem auto
      gap: 1rem

      .image
        height: $imageSize
        width: $imageSize
        object-fit: cover
        background-color: $black
        cursor: pointer
        transition: $transition
        opacity: 1

        &:hover
          opacity: 0.7

      @media screen and ( max-width: 1000px )
        $imageSize: 240px

        max-width: calc((240px * 3) + 2rem)
        grid-template-columns: repeat($colRepeat, $imageSize)

        .image
          height: $imageSize
          width: $imageSize

      @media screen and ( max-width: 820px )
        $imageSize: 300px
        $colRepeat: 2

        max-width: calc((300px * 2) + 1rem)
        grid-template-columns: repeat($colRepeat, $imageSize)

        .image
          height: $imageSize
          width: $imageSize

      @media screen and ( max-width: 700px )
        $imageSize: 320px
        $colRepeat: 1

        max-width: 320px
        grid-template-columns: repeat($colRepeat, $imageSize)

        .image
          height: $imageSize
          width: $imageSize

.image-displayed,
.image-displayer-background,
.navigate-right,
.navigate-left
  position: fixed

.image-displayer-background
  background-color: rgba(0,0,0,.8)
  top: 0
  right: 0
  left: 0
  bottom: 0

.image-displayed
  max-height: calc(100% - 6rem)
  max-width: calc(100% - 6rem)
  transform: translate(50%, 50%)
  right: 50%
  bottom: 50%
  object-fit: contain

.navigate-right,
.navigate-left
  height: 100px
  width: 100px
  transform: translateY(50%)
  bottom: 50%
  cursor: pointer
  border: none
  background: rgba(0,0,0,0.4)
  border-radius: 50%

  svg
    width: 36px
    height: 36px
    fill: $white

  @media screen and ( max-width: 700px )
    height: 60px
    width: 60px

    svg
      width: 24px
      height: 24px

.navigate-right
  right: 1rem

.navigate-left
  left: 1rem
