<h2 class="page-title">
  {{ 'EDIT.BOOKING' | translate }}
</h2>

<div class="locker-view-editor locker-booking-section">

  <!-- menu -->
  <div class="collections">
    <button
      class="locker-btn add-btn"
      type="button"
      (click)="addNewBookingSection()">
      {{ 'FORM.ADD' | translate }}
    </button>

    <ng-container *ngIf="bookingSectionCollections">
      <ng-container *ngFor="let collection of bookingSectionCollections">
        <button
          class="locker-btn"
          [class.active]="bookingSection?.title === collection.title"
          type="button"
          (click)="readBookingSection(collection.id)">
          {{ collection.title }}
        </button>
      </ng-container>
    </ng-container>
  </div>

  <!-- content -->
  <div class="content" *ngIf="viewContent">
    <gs-form
      *ngIf="formOptions"
      [formFields]="formFields"
      [formOptions]="formOptions"
      (form)="writeBookingSection($event)">
    </gs-form>

    <!-- actions -->
    <div class="booking-section-actions">
      <button (click)="openAlert(bookingSection?.id, 'deleteBookingSectionAlert')"
        class="locker-btn delete-btn"
        type="button">
        Delete
      </button>
    </div>
  </div>
</div>

<!-- delete gallery alert -->
<app-alert id="deleteBookingSectionAlert" [title]="'Delete Section'">
  <p>Are you sure you want to delete this section</p>

  <div class="gs-alert-actions">
    <button (click)="closeAlert('deleteBookingSectionAlert')">
      {{ 'FORM.CANCEL' | translate }}
    </button>
    <button class="btn-confirm" (click)="onDeleteBookingSection()">
      {{ 'FORM.DELETE' | translate }}
    </button>
  </div>
</app-alert>
