<h2 class="page-title">
  {{ 'EDIT.GALLERY' | translate }}
</h2>

<div class="locker-view-editor locker-bookingSection">

  <!-- menu -->
  <div class="collections">
    <button
      class="locker-btn add-btn"
      type="button"
      (click)="addNewBookingSection()">
      {{ 'FORM.ADD' | translate }}
    </button>

    <ng-container *ngIf="bookingSectionCollections">
      <ng-container *ngFor="let collection of bookingSectionCollections">
        <button
          class="locker-btn"
          [class.active]="bookingSection?.title === collection.title"
          type="button"
          (click)="getBookingSectionPhotos(collection)">
          {{ collection.title }}
        </button>
      </ng-container>
    </ng-container>
  </div>

  <!-- content -->
  <div class="content">
    <div class="content-detail" *ngIf="viewContent === viewType.DETAIL">
      detail
    </div>

    <div class="content-add" *ngIf="viewContent === viewType.ADD || viewContent === viewType.EDIT">
      <gs-form
        *ngIf="formOptions"
        [formFields]="formFields"
        [formOptions]="formOptions"
        (form)="writeBookingSection($event)">
      </gs-form>
    </div>

  </div>
</div>
