<div class="locker">
  <div class="header">

    <!-- current user email -->
    <div class="current-user" *ngIf="userEmail">
      {{ userEmail }}
    </div>

    <!-- current lang -->
    <div class="current-language">
      {{ 'ADMIN.CURRENT_LANG' | translate }}:
      <button (click)="toggleLang()">
        {{ 'CURRENT_LANG' | translate }}
      </button>
    </div>

    <!-- logout -->
    <button class="logout" type="button" (click)="logout()" *ngIf="userEmail">
      {{ 'ADMIN.LOG_OUT' | translate }}
    </button>
  </div>
  
  <div class="sidebar">
    <div class="navigation">
      <a *ngFor="let page of pages" [routerLink]="page.url" [class.activeLink]="page.url === activeUrl">
        {{ page.name | translate }}
      </a>
      <a routerLink="/" target="_blank" rel="noopener noreferrer">
        {{ 'ADMIN.CHECK_WEB_SITE' | translate }}
      </a>
    </div>
  </div>
  
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>