<div class="gallery-page">
  <div class="content" *ngIf="galleries && galleries.length > 0">

    <div class="gallery" *ngFor="let gallery of galleries">
      <h2>{{ gallery.title }}</h2>
      <div class="gallery-images">
        <img 
          *ngFor="let image of gallery.images; let i = index"
          class="image"
          [src]="image.src"
          (click)="openImage({ gallery: gallery.images, position: i })"
          >
      </div>
    </div>

    <div class="page-links">
      <p class="call-to-action">
        {{ 'ACTIONS.CALL_TO_ACTION_GALLERY'  | translate }}:
      </p>
  
      <div class="links">
        <a class="gf-button" target="_blank" rel="noopener noreferrer"
          [href]="resourcesLinks.FACEBOOK">
          {{ 'ACTIONS.GOTO_FACEBOOK' | translate }}
        </a>
    
        <a class="gf-button" target="_blank" rel="noopener noreferrer"
          [href]="resourcesLinks.INSTAGRAM">
          {{ 'ACTIONS.GOTO_INSTAGRAM' | translate }}
        </a>
      </div>
    </div>

  </div>
</div>

<ng-container *ngIf="imageDisplayed">
  <!-- image displayer background -->
  <div class="image-displayer-background" (click)="closeImage()"></div>
  
  <!-- image displayed -->
  <img class="image-displayed" [src]="imageDisplayed.gallery[imageDisplayed.position].src">

  <!-- navigate right -->
  <button class="navigate-right" type="button"
    (click)="nextImage()" *ngIf="imageDisplayed.gallery[imageDisplayed.position + 1]">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
    </svg>
  </button>

  <!-- navigate left -->
  <button class="navigate-left" type="button"
    (click)="previousImage()" *ngIf="imageDisplayed.gallery[imageDisplayed.position - 1]">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
    </svg>
  </button>
</ng-container>