<div class="bio-page inner-html-content" *ngIf="bio">
  <div [froalaView]="bio"></div>
  <div class="page-links">
    <div class="links">
      <a class="gf-button" target="_blank" rel="noopener noreferrer" *ngIf="('CURRENT_LANG' | translate) === 'EN'"
        [href]="resourcesLinks.PROMO_EN">
        {{ 'ACTIONS.DOWNLOAD_PROMO' | translate }}
      </a>

      <a class="gf-button" target="_blank" rel="noopener noreferrer" *ngIf="('CURRENT_LANG' | translate) === 'ES'"
        [href]="resourcesLinks.PROMO_ES">
        {{ 'ACTIONS.DOWNLOAD_PROMO' | translate }}
      </a>
    </div>
  </div>
</div>
