<h2 class="page-title">
  {{ 'EDIT.DATES' | translate }}
</h2>

<div class="locker-view-editor locker-dates">

  <!-- menu -->
  <div class="collections">
    <button
      class="locker-btn add-btn"
      type="button"
      (click)="addNewDate()">
        {{ 'FORM.ADD' | translate }}
    </button>
    <ng-container *ngIf="dateCollections">
      <ng-container *ngFor="let document of dateCollections">
        <button
          class="locker-btn"
          [class.active]="currentDate?.id === document.id"
          type="button"
          (click)="viewDate(document.id)">
          {{ document.title }}
          <span class="date-status" *ngIf="document.published">
            {{ 'FORM.PUBLISHED' | translate }}
          </span>
        </button>
      </ng-container>
    </ng-container>
  </div>

  <!-- content -->
  <div class="content">
    <ng-container *ngIf="viewContent === viewType.DETAIL || viewContent === viewType.ADD">
      <gs-form
        *ngIf="formFields && formOptions"
        [formFields]="formFields"
        [formOptions]="formOptions"
        (form)="setDate($event)">
      </gs-form>
      <button *ngIf="viewContent === viewType.DETAIL" 
        class="locker-btn delete-btn centered-btn" (click)="openAlert('deleteDateAlert')">
        {{ 'FORM.DELETE' | translate }}
      </button>
    </ng-container>
  </div>
</div>

<!-- delete date alert -->
<app-alert id="deleteDateAlert" [title]="'ACTIONS.CONFIRM_DELETE_DATE.TITLE' | translate">
  <p>{{ 'ACTIONS.CONFIRM_DELETE_DATE.CONTENT' | translate }}</p>

  <div class="gs-alert-actions">
    <button (click)="closeAlert('deleteDateAlert')">
      {{ 'FORM.CANCEL' | translate }}
    </button>
    <button class="btn-confirm" (click)="deleteDate()">
      {{ 'FORM.DELETE' | translate }}
    </button>
  </div>
</app-alert>