<h2>{{ 'EDIT.GALLERY' | translate }}</h2>

<div class="gallery">

  <!-- menu -->
  <div class="collections">
    <ng-container *ngIf="gallery">
      <ng-container *ngFor="let collection of gallery">
        <button
          [class.active]="currentTitle === collection.title"
          type="button"
          (click)="getGalleryPhotos(collection)">
            {{ collection.title }}
        </button>
      </ng-container>
    </ng-container>
    <button
      class="add-btn"
      type="button"
      (click)="addNewGallery()">
        {{ 'FORM.ADD' | translate }}
    </button>
  </div>

  <!-- content -->
  <div class="content">
    <ng-container [ngSwitch]="viewContent">

      <div class="content-detail" *ngSwitchCase="viewType.DETAIL">

        <div class="image-container">
          <div class="image-card" *ngFor="let image of galleryPhotos">
            <div class="image" [style.background-image]="image.img"></div>
            <div class="actions">
              <button type="button">
                {{ 'FORM.DELETE' | translate }}
              </button>
            </div>
          </div>
        </div>

        <div class="image-container-actions">
          <button
            class="add-btn"
            type="button">
              {{ 'FORM.ADD_IMAGE' | translate }}
          </button>
        </div>
      </div>

      <div class="content-add" *ngSwitchCase="viewType.GALLERY">
        Add gallery
      </div>

      <div class="content-add" *ngSwitchCase="viewType.PHOTO">
        Add photo
      </div>

    </ng-container>
  </div>
</div>
