@import 'variables'

.locker-gallery
  .content .content-detail
    .image-container-actions
      margin-top: 2rem

    .image-container
        display: grid
        grid-template-columns: repeat(3, 180px)
        gap: 1rem

        .gallery-actions
          padding: 1rem

          .gallery-actions-button
            padding: 0
            background: none

        .image-card
          padding: 1rem
          background-color: lighten($black, 10)

          .actions
            padding-top: 1rem

            button
              padding: 4px
              display: block
              width: max-content
              margin-left: auto

          .image
            height: 150px
            width: 100%
            background-position: center
            background-repeat: no-repeat
            background-size: contain
        
        .action-card
          transition: $transition

          &:hover
            background-color: lighten($black, 15)
          
          .image
            width: 80px
            margin: auto
            display: block
            fill: lighten($black, 2)
    
.hiddenInput
  display: none