<h2>{{ 'EDIT.GALLERY' | translate }}</h2>

<div class="gallery">

  <!-- menu -->
  <div class="collections">
    <ng-container *ngIf="gallery">
      <ng-container *ngFor="let collection of gallery">
        <button
          [class.active]="currentTitle === collection.title"
          type="button"
          (click)="getGalleryPhotos(collection)">
            {{ collection.title }}
        </button>
      </ng-container>
    </ng-container>
    <button
      class="add-btn"
      type="button"
      (click)="addNewGallery()">
        {{ 'FORM.ADD' | translate }}
    </button>
  </div>

  <!-- content -->
  <div class="content">
    <ng-container [ngSwitch]="viewContent">

      <div class="content-detail" *ngSwitchCase="viewType.DETAIL">

        <div class="image-container">
          <div class="image-card" *ngFor="let image of galleryPhotos">
            <div class="image" [style.background-image]="image.img"></div>
            <div class="actions">
              <button type="button">
                {{ 'FORM.DELETE' | translate }}
              </button>
            </div>
          </div>

          <button
            (click)="imageInput.click()"
            class="image-card"
            type="button">
              <svg class="image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19.5 12c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.5 5h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1zm-18 0l4-5.96 2.48 1.96 2.52-4 1.853 2.964c-1.271 1.303-1.977 3.089-1.827 5.036h-9.026zm10.82 4h-14.82v-18h22v7.501c-.623-.261-1.297-.422-2-.476v-5.025h-18v14h11.502c.312.749.765 1.424 1.318 2zm-9.32-11c-.828 0-1.5-.671-1.5-1.5 0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5c0 .829-.672 1.5-1.5 1.5z"/>
              </svg>
              <span class="actions">
                {{ 'FORM.ADD_IMAGE' | translate }}
              </span>
          </button>
        </div>
      </div>

      <div class="content-add" *ngSwitchCase="viewType.GALLERY">
        Add gallery
      </div>

      <div class="content-add" *ngSwitchCase="viewType.PHOTO">
        Add photo
      </div>

    </ng-container>
  </div>
</div>

<input #imageInput class="hiddenInput" type="file" id="imageInput" accept="image/png, image/jpeg"
  (change)="onAddImage($event)" />
