@import 'variables'

.view
  position: relative
  background-color: $black
  z-index: 1

  app-footer,
  app-navigation,
  .body
    display: block
    position: relative

  app-footer
    z-index: 2

  .body
    z-index: 2

  app-navigation
    z-index: 2

  .background
    position: absolute
    top: 0
    z-index: 1

    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    width: 100%
    max-height: 100vh

  .body
    display: grid
    grid-template-rows: calc( 100vh - 450px) auto min-content
    min-height: $bodyHeight
    max-width: $bodyWidth
    width: 100%
    margin: auto

    .covers
      grid-row: 1

    .player
      grid-row: 2

    .content
      padding: 0 2rem 1rem
      grid-row: 3


.background.view-home
  background-image: url('../../../assets/covers/hom-1-dk-lg.jpg')

.background.view-bio
  background-image: url('../../../assets/covers/bio-1-dk-lg.jpg')

.background.view-gallery
  background-image: url('../../../assets/covers/gal-1-dk-lg.jpg')

.background.view-music
  background-image: url('../../../assets/covers/mus-1-dk-lg.jpg')

.background.view-video
  background-image: url('../../../assets/covers/vid-1-dk-lg.jpg')

.background.view-dates
  background-image: url('../../../assets/covers/dat-1-dk-lg.jpg')

.background.view-contact
  background-image: url('../../../assets/covers/con-1-dk-lg.jpg')


@media screen and (max-width: 1440px)
  .background.view-home
    background-image: url('../../../assets/covers/hom-2-dk-md.jpg')

  .background.view-bio
    background-image: url('../../../assets/covers/bio-2-dk-md.jpg')

  .background.view-gallery
    background-image: url('../../../assets/covers/gal-2-dk-md.jpg')

  .background.view-music
    background-image: url('../../../assets/covers/mus-2-dk-md.jpg')

  .background.view-video
    background-image: url('../../../assets/covers/vid-2-dk-md.jpg')

  .background.view-dates
    background-image: url('../../../assets/covers/dat-2-dk-md.jpg')

  .background.view-contact
    background-image: url('../../../assets/covers/con-2-dk-md.jpg')


@media screen and (max-width: 1280px)
  .background.view-home
    background-image: url('../../../assets/covers/hom-3-dk-sm.jpg')

  .background.view-bio
    background-image: url('../../../assets/covers/bio-3-dk-sm.jpg')

  .background.view-gallery
    background-image: url('../../../assets/covers/gal-3-dk-sm.jpg')

  .background.view-music
    background-image: url('../../../assets/covers/mus-3-dk-sm.jpg')

  .background.view-video
    background-image: url('../../../assets/covers/vid-3-dk-sm.jpg')

  .background.view-dates
    background-image: url('../../../assets/covers/dat-3-dk-sm.jpg')

  .background.view-contact
    background-image: url('../../../assets/covers/con-3-dk-sm.jpg')


@media screen and (max-width: 1024px)
  .background.view-home
    background-image: url('../../../assets/covers/hom-4-dk-xs.jpg')

  .background.view-bio
    background-image: url('../../../assets/covers/bio-4-dk-xs.jpg')

  .background.view-gallery
    background-image: url('../../../assets/covers/gal-4-dk-xs.jpg')

  .background.view-music
    background-image: url('../../../assets/covers/mus-4-dk-xs.jpg')

  .background.view-video
    background-image: url('../../../assets/covers/vid-4-dk-xs.jpg')

  .background.view-dates
    background-image: url('../../../assets/covers/dat-4-dk-xs.jpg')

  .background.view-contact
    background-image: url('../../../assets/covers/con-4-dk-xs.jpg')


@media screen and (max-width: 640px)
  .background.view-home
    background-image: url('../../../assets/covers/hom-5-mo-md.jpg')

  .background.view-bio
    background-image: url('../../../assets/covers/bio-5-mo-md.jpg')

  .background.view-gallery
    background-image: url('../../../assets/covers/gal-5-mo-md.jpg')

  .background.view-music
    background-image: url('../../../assets/covers/mus-5-mo-md.jpg')

  .background.view-video
    background-image: url('../../../assets/covers/vid-5-mo-md.jpg')

  .background.view-dates
    background-image: url('../../../assets/covers/dat-5-mo-md.jpg')

  .background.view-contact
    background-image: url('../../../assets/covers/con-5-mo-md.jpg')


@media screen and (max-width: 436px)
  .background.view-home
    background-image: url('../../../assets/covers/hom-6-mo-sm.jpg')

  .background.view-bio
    background-image: url('../../../assets/covers/bio-6-mo-sm.jpg')

  .background.view-gallery
    background-image: url('../../../assets/covers/gal-6-mo-sm.jpg')

  .background.view-music
    background-image: url('../../../assets/covers/mus-6-mo-sm.jpg')

  .background.view-video
    background-image: url('../../../assets/covers/vid-6-mo-sm.jpg')

  .background.view-dates
    background-image: url('../../../assets/covers/dat-6-mo-sm.jpg')

  .background.view-contact
    background-image: url('../../../assets/covers/con-6-mo-sm.jpg')