@import 'variables'

.view
  background-color: $black
  background-repeat: no-repeat
  background-image: url('../../../assets/cover/home.jpg')
  background-size: 100%

  @media screen and ( max-width: $mobile)
    background-size: 140%
    background-position: 50% 20%

  .content
    position: relative
    height: $bodyHeight
    width: 100%
    max-width: $bodyWidth
    margin: auto

    .player
      position: absolute
      width: 100%
      bottom: 0