<div class="contact-page">
  <div class="content">
    <div class="logo">
      <img src="./assets/logo/gf.svg" alt="GF Logo">
    </div>
  
    <div class="info">
      <b>
        {{ 'CONTACT.FOR_BOOKING_INQUIRIES' | translate }}
      </b>
      <p>
        USA<span class="pipe-divider">|</span>
        <a href="tel:+16174703652">+1 (617) 470-3652</a> 
        <span class="pipe-divider">|</span>
        <a href="mailto:booking@gianfaraone.com">booking@gianfaraone.com</a>
      </p>
      <p>
        VEN<span class="pipe-divider">|</span>
        <a href="tel:+584125836887">+58 (412) 583-6887</a> 
        <span class="pipe-divider">|</span>
        <a href="mailto:booking@gianfaraone.com">contrataciones@gianfaraone.com</a>
      </p>
    </div>
  </div>
</div>