@import 'variables'

@font-face
  font-family: 'gianfaraone'
  font-weight: 500
  font-style: normal
  src: url('assets/fonts/gianfaraone.eot') format('opentype')
  src: url('assets/fonts/gianfaraone.svg#gianfaraone') format('svg')
  src: url('assets/fonts/gianfaraone.ttf') format('opentype')
  src: url('assets/fonts/gianfaraone.woff')
  src: url('assets/fonts/gianfaraone.woff2')

*
  margin: 0
  padding: 0
  outline: none!important
  box-sizing: border-box

body
  margin: 0
  font-family: 'Roboto', sans-serif
  color: $black

h1
  font-family: 'gianfaraone', sans-serif
  font-weight: 500
  font-style: normal
  line-height: 1

a
  color: $black

// rich editor
.fr-toolbar,
.fr-wrapper,
.second-toolbar
  border-radius: 0!important
  border: none!important

.inner-html-content
  color: $white